---
import Base from '@/layouts/Base.astro';
---

<Base title="Contact" description="Get in touch with Andy Masley">
  <div class="contact-content">
    <p>
      <a href="mailto:andymasley@gmail.com">andymasley@gmail.com</a>
    </p>

    <p>
      <a href="mailto:andy@effectivealtruismdc.org">andy@effectivealtruismdc.org</a> (work)
    </p>

    <p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfeuR0zagnxjzyNQvh6OkI8pRd9Vtq26D8RzJ2h8WZYlaz8Sw/viewform?usp=send_form" target="_blank" rel="noopener">Anonymous feedback</a>
    </p>
  </div>

  <hr class="divider" />

  <div class="back-link">
    <a href="/">â† home</a>
  </div>
</Base>
