---
import Base from '@/layouts/Base.astro';
---

<Base title="Home">
  <div class="container">
    <section class="home-intro stagger-in">
      <h1 class="home-intro__title">Andy Masley</h1>
      <p class="home-intro__description">This site is under construction.</p>
    </section>
  </div>
</Base>
